.bodyDiv {
  height: 100vh;
}

.bodyContainer {
  margin-top: 20vh !important;
}

.tabs a {
  color: orange;
  font-weight: bold;
  font-size: 18px;
}

.tabs .active {
  background: inherit !important;
}
