.nav-extended {
  background: orange;
}

.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

.nav-div {
  margin-top: 20px;
  /* align-self: stretch; */
}

.profile-name,
.user-text {
  /* align-self: flex-start; */
  margin-top: -10px;
}
