#panel {
  background-color: #ffffff;
  padding: 0px;
}

#loginbtn {
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #fff;
  background-color: rgb(241, 168, 32);
  font-weight: 500;
}

#title {
  background-color: #646464;
  color: white;
  padding: 8px;
  margin-top: 0px;
  font-weight: 700;
  text-align: center;
}

form {
  padding: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0px 20px 0px 20px;
}
