/* You can add global styles to this file, and also import other style files */

.tabs .indicator {
  background-color: orange;
}

#auth-content {
  min-height: 465px !important;
}

.indeterminate {
  background-color: orange !important;
}

#errorMsg {
  background: tomato;
  width: 100%;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12px;
  margin-bottom: 8px;
}
